
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Custom
model/checkpoint
model/frozen_inference_graph.pb
model/model.ckpt*
model/pipeline.config
model/saved_model/

.ipynb_checkpoints

data/sim_training_data/sim_data_capture/checkpoint
data/sim_training_data/sim_data_capture/events.*
data/sim_training_data/sim_data_capture/graph.pbtxt
data/sim_training_data/sim_data_capture/model.ckpt*
data/sim_training_data/sim_data_capture/pipeline.config

data/real_training_data/real_data_capture/checkpoint
data/real_training_data/real_data_capture/events.*
data/real_training_data/real_data_capture/graph.pbtxt
data/real_training_data/real_data_capture/model.ckpt*
data/real_training_data/real_data_capture/pipeline.config

.DS_Store
